/* Default WP */
#wpwrap #wpcontent {
    padding: 20px;
    background: #f0f0f1;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea,
button,
.uk-button,
.uk-section,
.uk-container,
.uk-modal-body,
.uk-open>.uk-modal-dialog {
    border-radius: 3px !important;
}

/* UK Section */
@media(min-width:900px) {
    body .uk-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* Notices */
.aw-notice-license-error {
    margin: 0 0 20px 0 !important;
    border: none !important;
}